.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuItem {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px
}

/*
.peak {
  display: flex;
  justify-content: center;
  align-items: center;
}

.peakLink {
  display: flex;
  justify-content: center;
  align-items: center;
}*/

/*WIP*/

.peakLink {
  display: flex;
}

.iconImage {.
	width: 30px;
	height: 30px;
}